*{
    margin: 0;
    padding: 0;
    border: none;
}
a{
    text-decoration: none;
}
body{
    font-family:"Inter",sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
input{
    outline: none;
}

#header{
    padding: 30px 0;

}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.header-nav a{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}
.header-nav button{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 33px;
    background: #1F39BA;
    border-radius: 10px;
}

#hero{
    padding-bottom: 260px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero img{
    z-index: -1;
    position: absolute;
    top: 0;
    right:0;
    width: 50%;
}
.hero-title h6{
    padding-top: 150px;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.hero-title h1{
    padding: 14px 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    color: #474747;
}

.hero-title h1 span{
    color:  #0600AE;;
}
.hero-title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
}


.hero-block{
    position: absolute;
    bottom: -110px;
    width: 770px;
    height: 87px;
    background: #FAFAFB;
    border-radius: 16px;
    display:flex ;
    align-items: center;
    justify-content: space-around;
}

.location a{

    font-weight: 700;
    font-size: 16px;
    color: #666666;
}
.location h5{
    font-weight: 400;
    font-size: 14px;
    color: #CACACA;
    background: #FFFFFF;
    padding: 5px 5px;
    border-radius: 5px;
}

.check  a{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.check h5{
    font-weight: 400;
    font-size: 14px;
    color: #CACACA;
    background: #FFFFFF;
    padding: 5px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.check h5 ion-icon{
    padding-left: 15px;
}




.check-out  a{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.check-out h5{
    font-weight: 400;
    font-size: 14px;
    color: #CACACA;
    background: #FFFFFF;
    padding: 5px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.check-out h5 ion-icon{
    padding-left: 15px;
}

.ault a{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.ault select{
    font-weight: 400;
    font-size: 14px;
    color: #CACACA;
    background: #FFFFFF;
    padding: 5px 5px;
    border-radius: 6px;
}

.child a{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.child select{
    font-weight: 400;
    font-size: 14px;
    color: #CACACA;
    background: #FFFFFF;
    padding: 5px 5px;
    border-radius: 6px;
}

.hero-block button{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding: 14px 20px;
    background: #0600AE;
    border-radius: 8px;
    display: flex;
}
.hero-block button ion-icon{
    font-size:20px;
    padding-left: 6px;
}


/*CUSTOMER*/
.customer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customer-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
.block-right{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.block-left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.customer img{
    width: 40%;

}

.customer-title h3{
    font-weight: 400;
    font-size: 14px;
    color: #474747;
}
.customer-title h1{
    padding: 13px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #474747;
}
.customer-title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
    width: 480px;
}
.block-left a{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #474747;
}
.block-right a{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #474747;
}
.customer-title button{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 23px;
    background: #1F39BA;
    border-radius: 10px;
}

/*SERVICES*/
#services{
    padding: 60px 0;
}
.services-title h4{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #666666;
}
.services-title h1{
    padding: 12px 0;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #474747;
}
.services-title p{
    padding-bottom:30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #666666;
    width: 865px;
}
.block-hotel{
    width:18%;
    height: 280px;
    background: #FAFAFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 50px 50px;
    transition: 2s;
}
.block-hotel:hover{
    background: #FAFAFF;
    box-shadow: 0px 2px 20px 4px #D8D8D8;
    border-radius: 0px 0px 50px 50px;
}
.block-hotel img{
    width: 28%;
}

.block-hotel h1{
    padding: 10px 0;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #474747;
}
.block-hotel p{
    padding: 11px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #666666;
}
.block-hotel button{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    display: flex;
    background: 0;
    transition: 2s;
}
.block-hotel button:hover{
   color: #1F39BA;
}
.block-hotel button ion-icon{
    font-size: 20px;
}

.block-taxi{
    width:18%;
    height: 280px;
    background: #FAFAFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px 50px 0 0;
    transition: 2s;
}
.block-taxi:hover{
    background: #FAFAFF;
    box-shadow: 0px 2px 20px 4px #D8D8D8;

}
.block-taxi img{
    width: 28%;
}

.block-taxi h1{
    padding: 10px 0;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #474747;
}
.block-taxi p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    padding: 11px 0;
}
.block-taxi button{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    display: flex;
    background: 0;
    transition: 2s;
}
.block-taxi button:hover{
    color: #1F39BA;
}
.block-taxi button ion-icon{
    font-size: 20px;
}
.services-blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/*BEST*/

#best{
    padding: 50px 0;
}

.best-blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.best-title h4{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #474747;
}
.best-title h1{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #474747;
    padding: 14px 0;
}
.best-title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
    width: 80%;
    padding-bottom: 90px;
}


.best-2{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 10px;
}


.best-block{
    width: 19%;
    height: 440px;
    background: #FFFFFF;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.best-block img{
    width:  100%;
    height: 240px;
}
.best-block p{
    padding: 10px 0;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    width: 90%;
}
.best-block button{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
    background: #1F39BA;
    border-radius: 10px;
}
.best-block h3{
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #CACACA;
}
.best-icon a{
    color: #EEAA2B;
    font-size: 17px;
}


.block-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.block-title h1{
    padding-top: 15px;
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
.block-title h2{
    padding-top: 15px;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #DB6300;
}



/*NEXT*/

#next{
    position: relative;
    padding: 90px 0;
}

.next{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next-img img{
    width: 48%;
    height: 540px;
    position: absolute;
    bottom: 140px;
    z-index: 11;
    right: 0;
}


.next-title h5{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.next-title h1{
    font-weight: 700;
    font-size: 36px;
    color: #474747;
    padding: 17px 0;
}
.next-title p{
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    width: 50%;
    padding-bottom: 30px;
}

.choose{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.choose img{
    width: 8%;
    margin-right: 25px;
}

.choose-title  h1{
    font-weight: 700;
    font-size: 20px;
    color: #666666;
    padding-bottom: 13px;
}

.choose-title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
    width: 80%;


}

/*Trip*/

.trip{
    position: absolute;
    bottom: 120px;
    right: 320px;
    z-index: 22;
    width: 20%;
    height: 110px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0 2px 4px 2px rgba(162, 160, 160, 0.15);
}
.trip-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding: 10px;
}

.trip-text h1{
    font-weight: 700;
    font-size: 16px;
    color: #474747;
}
.trip-text h2{
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    color: #DB6300;
}
.trip p{
    font-weight: 400;
    font-size: 8px;
    color: #666666;
    text-align: center;
    padding-bottom: 13px;
}
.block-icon{

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 90%;

}

.trip-icon a{
    font-size: 15px;
    color: #DB6300;
    padding-bottom: 16px;
}
.block-icon h5{
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #CACACA;
}
.trip button{
    font-weight: 700;
    font-size: 14px;
    color: #1F39BA;
    background: transparent;
    display: flex;
}
.trip button ion-icon{
    font-size: 18px;
    padding-left: 7px;
}




.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;

}

.swiper-slide img {
    display: block;
    width: 100%;
}


/*MARE*/

.maren{
    position: absolute;
    top: 80px;
    right: 30px;
    z-index: 33;
    width: 13%;
    height: 80px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.maren img{

    width: 27%;
    top: -230px;
    right: 110px;
}

.maren-title h1{
    padding: 4px 0 4px 70px;
    font-weight: 700;
    font-size: 10px;
    color: #474A4D;
}
.maren-icon{
    margin-left: 70px;
}
.maren-icon a{
    font-size: 13px;
    color: #8C8C8C;
}
.top-a a{
    margin-left: 70px;
    font-size: 13px;
    color: #3793D8;
}


/*LEO*/


.leo{
    position: absolute;
    top: 166px;
    right: 30px;
    z-index: 33;
    width: 13%;
    height: 80px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leo img{

    width: 27%;
    top: -230px;
    right: 110px;
}

.leo-title h1{
    padding: 4px 0 4px 70px;
    font-weight: 700;
    font-size: 10px;
    color: #474A4D;
}
.leo-icon{
    margin-left: 70px;
}
.leo-icon a{
    font-size: 13px;
    color: #8C8C8C;
}
.top-a a{
    margin-left: 70px;
    font-size: 13px;
    color: #3793D8;
}


/*FEEDBACK*/

#feedback{
    padding-bottom: 170px;
    position: relative;
}

.feedback-title h5{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #666666;
}
.feedback-title h1{
    padding: 15px 0;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #474747;
}
.feedback-title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #666666;
    width: 70%;
    padding-bottom: 60px;
}

.feedback img{
    position: absolute;
    top:290px ;
    width: 40%;
    height: 300px;
    border-radius: 18px;
}

.price1{
    margin-top: 26px;
    margin-left: 40px;
    width: 13%;
    height: 140px;
    border-radius: 50%;
    background: #0600AE;
}

.price2{
    position: absolute;
    bottom: 220px;
    left:260px;
    z-index: -1;
    width: 27%;
    height: 330px;
    border-radius: 50%;
    background: #3793D8;
    display: flex;
}

.figure1{
    position: absolute;
    left: 180px;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;
    height: 30px;
    background: #FFFFFF;
    border-radius: 5px;
}
.figure1 a{
    font-size: 23px;
    color: #3793D8;
    transform: rotate(-180deg);
}

.figure2{
    position: absolute;
    left: 120px;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;
    height: 30px;
    background: #ffffff;
    border-radius: 5px;
}
.figure2 a{
    font-size: 23px;
    color: #3793D8;
    transform: rotate(-180deg);
}


.cvadrat{
    position: absolute;
    top: 262px;
    left: 280px;
    width: 16%;
    height: 170px;
    background: 0;
    border-top: 8px dashed #29DBCC;
    border-right: 8px dashed #29DBCC;
}
.cvadrat-img{
    position: absolute;
    bottom: 520px;
    left: 110px;
    z-index: 44;
    width: 20%;
    height: 300px;
}



/*FEEDACK-TEXT*/

.feedback-text{
    margin-left: 550px;
}


.feedback-text h5{
    font-size: 69px;
    color: #29DBCC;
}
.feedback-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
    width: 90%;
}
.feedback-text h3{
    padding: 16px 0;
    font-weight: 700;
    font-size: 16px;
    color: #3793D8;
}
.feedback-text h4{
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}
.feedback-text a{
    font-size: 18px;
    color: #EEAA2B;
}
.feedback-text h6{
    font-size: 69px;
    color: #29DBCC;
    margin-left: 90%;
}



/*.TOUCH*/

.touch-title h3{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #474747;
}

.touch-title h1{
    padding: 16px 0;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #474747;
}
.touch-title p{
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    width: 70%;
    padding-bottom: 50px;
}

.touch-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 36%;
    height: 340px;
    background: #F7F7F8;
    opacity: 0.8;
    border-radius: 24px;
}

.touch-block h3{
    margin-top: 60px ;
    border-bottom: 2px solid #CACACA;
    width: 80%;
    margin-left: 37px;
    font-weight: 400;
    font-size: 16px;
    color: #CACACA;
}
.touch-block button{
    margin-top: 40px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 20px;
    border-radius: 8px;
    background: blue;
}

.touch{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/*FOOTER*/

#footer{
    padding: 50px 0;
    background: url("../img/footer.png") no-repeat;
    min-height: 90vh;
    position: relative;
}
.footer-title h1 {
    padding: 17px 0;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
.footer-title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    width: 70%;
    padding-bottom: 40px;
}

.footer-title input{
    margin-left: 220px;
    width: 56%;
    height: 66px;
    border-radius: 12px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 16px;
    color: #CACACA;
}
.footer-title button{
    position: absolute;
    top: 227px;
    right: 320px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 23px;
    background: #0600AE;
    border-radius: 8px;
}


/*FOOTER-BLOCKS*/

.travelix h1{
    padding-bottom: 13px ;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}
.travelix p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    width: 200px;
}

.footer-blocks{
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}


.footer-block h1{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}
.footer-block h5{
    padding: 10px 0;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.contact{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.contact h1{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}
.contact a{
    padding: 8px 0 8px 0;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.contact a ion-icon{
    padding-right: 10px;
}


.contact-ion{
    display: flex;

}

.contact-ion a{
    font-size: 20px;
    padding-right: 15px;
    padding-top: 19px;
}

.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.copy div{
    margin: 26px 0;
    width: 90%;
    height: 4px;
    background: #ffffff;
}

.copy h2{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}









